head
  meta(charset="utf-8")
  title DevOOPS Meteor
  meta(name="description", content="description")
  meta(name="author", content="DevOOPS")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  // <link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
  // <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  // <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  // <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  // <link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
  // <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
  // <link href="plugins/xcharts/xcharts.min.css" rel="stylesheet">
  // <link href="plugins/select2/select2.css" rel="stylesheet">
  // <link href="plugins/justified-gallery/justifiedGallery.css" rel="stylesheet">

template(name="mainLayout")
  body
    +header
    +container

template(name="header")

  //#screensaver
  //  canvas#canvas
  //  i#screen_unlock.fa.fa-lock
  //
  //
  //#modalbox
  //  .devoops-modal
  //    .devoops-modal-header
  //      .modal-header-name
  //        span Basic table
  //      .box-icons
  //        a.close-link
  //          i.fa.fa-times
  //    .devoops-modal-inner
  //    .devoops-modal-bottom

  header.navbar
    .container-fluid.expanded-panel
      .row
        #logo.col-xs-12.col-sm-2
          a(href="index.html") DevOOPS
        #top-panel.col-xs-12.col-sm-10
          .row
            .col-xs-8.col-sm-4
              +sidebarToggle
              +search
            .col-xs-4.col-sm-8.top-panel-right
              +topRightNavbar

template(name="sidebarToggle")
  a.show-sidebar(href="#")
    i.fa.fa-bars

template(name="search")
  #search
    input(type="text", placeholder="search")
    i.fa.fa-search

template(name="topRightNavbar")
  ul.nav.navbar-nav.pull-right.panel-menu
    +notificationElement(href="/notifications" icon="fa-bell" quantity=7)
    +notificationElement(href="/calendar" icon="fa-calendar" quantity=3)
    +notificationElement(href="/messages" icon="fa-envelope" quantity=78)
    li.dropdown
      a.dropdown-toggle.account(href="#", data-toggle="dropdown")
        .avatar
          img.img-rounded(src="img/avatar.jpg", alt="avatar")
        i.fa.fa-angle-down.pull-right
        .user-mini.pull-right
          span.welcome Welcome,
          span Jane Devoops
      ul.dropdown-menu
        +userDropdownElement(href="/profile" icon="fa-user" label="Profile")
        +userDropdownElement(href="/messages" icon="fa-envelope" label="Messages")
        +userDropdownElement(href="/albums" icon="fa-picture-o" label="Albums")
        +userDropdownElement(href="/tasks" icon="fa-tasks" label="Tasks")
        +userDropdownElement(href="/settings" icon="fa-cog" label="Settings")
        +userDropdownElement(href="/logout" icon="fa-power-off" label="Logout")

template(name="notificationElement")
  li.hidden-xs
    a(href=href)
      i.fa(class=icon)
      span.badge #{quantity}

template(name="userDropdownElement")
  li
    a(href=href)
      i.fa(class=icon)
      span #{label}

template(name="container")
  #main.container-fluid(class=showSidebarClass)
    .row
      +sidebar
      +mainContent

template(name="sidebar")
  #sidebar-left.col-xs-2.col-sm-2
    ul.nav.main-menu
      // name is the iron-router route name
      // unless provided, label will default to name with first letter capitalized
      // unless provided, href will default to name proceeded by '/'
      +navElement(icon="fa-dashboard" name="dashboard")
      +navElement(icon="fa-bar-chart-o" name="charts")
      +navElement(icon="fa-table" name="tables")
      +navElement(icon="fa-pencil-square-o" name="forms")
      // Example below: explicit label, but page still defaulted to same as name
      +navElement(icon="fa-desktop" name="ui-elements" label="UI Elements")
      +navElement(icon="fa-list" name="messages")
      +navElement(icon="fa-map-marker" name="maps")
      +navElement(icon="fa-picture-o" name="gallery")
      +navElement(icon="fa-font" name="typography")
      // Example below: explicit href and label
      +navElement(icon="fa-calendar" name="calendar" label="Calendar [incomplete]" href="/404")

template(name="navElement")
  li
    a(href=href class=isActive)
      i.fa(class=icon)
      span.hidden-xs #{label}

template(name="mainContent")
  #content.col-xs-12.col-sm-10
    // Add breadcrumbs here rendered from the active route with `Router.routes[Session.get('active')]`
    +yield




// &lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;
// &lt;!&ndash;<script src="http://code.jquery.com/jquery.js"></script>&ndash;&gt;
// <script src="plugins/jquery/jquery.min.js"></script>
// <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
// &lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;
// <script src="plugins/bootstrap/bootstrap.min.js"></script>
// <script src="plugins/justified-gallery/jquery.justifiedGallery.min.js"></script>
// <script src="plugins/tinymce/tinymce.min.js"></script>
// <script src="plugins/tinymce/jquery.tinymce.min.js"></script>
// &lt;!&ndash; All functions for this theme + document.ready processing &ndash;&gt;
// <script src="js/devoops.js"></script>
